INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=A_COMPLETER
INFLUX_ORG=FRD_CODEM
INFLUX_BUCKET=Test_Capteurs

GROQ_API_KEY=A_COMPLETER
GROQ_MODEL=llama-3.3-70b-versatile

JWT_SECRET_KEY=A_COMPLETER
ADMIN_BOOTSTRAP_USERNAME=A_COMPLETER
ADMIN_BOOTSTRAP_PASSWORD=A_COMPLETER
